html, body {
  margin: 0;
  padding: 0; }

.main {
  width: 100%; }
  .main__hero {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/img/screenshot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; }
