.main{
    &__hero{
        width: 100vw;
        height: 100vh;
        background-image: url('../img/screenshot.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}